<h1>商品一覧</h1>
  <table class="table">
    <thead>
      <tr>
        <th>商品id</th>
        <th>商品名</th>
        <th>税抜価格</th>
        <th>ジャンル</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
    <% @items.each do |item| %>
      <tr>
        <td>
          <%= item.id %>
        </td>
        <td>
          <%= link_to admin_item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </td>
        <td>
          <%= item.price %>
        </td>
        <td>
          <%= item.genre.name %>
        </td>
        <td>
          <% if true == item.is_active %>
          <h4>販売中</h4>
          <% else %>
          <h4>販売停止中</h4>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>