<h4>注文履歴一覧一覧</h4>
<table border="1" style="border-collapse: collapse">
    <thead>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
                <div><%= order.address_postal_code %></div>
                <div><%= order.address %></div>
                <div><%= order.address_name %></div>
            </td>
            <td>
                <% order.order_details.each do |order_detail| %>
                <div><%= order_detail.item.name %></div>
                <% end %>
            </td>
            <td>
                <div><%= order.money.to_s(:delimited) %>円</div>
            </td>
            <td><%= order.order_status_i18n %></td>
            <td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %></td>
        </tr>
    <% end %>
    </tbody>
</table>